[submodule "examples/cryptol-specs"]
	path = examples/cryptol-specs
	url = https://github.com/GaloisInc/cryptol-specs.git
[submodule "deps/argo"]
	path = deps/argo
	url = https://github.com/galoisinc/argo
[submodule "deps/rme"]
	path = deps/rme
	url = https://github.com/GaloisInc/rme
