*.pyc
*\#*
*~
.DS_Store
.cabal-sandbox
cabal.sandbox.config
dist
results.xml

# don't check in generated documentation
docs/CryptolPrims.pdf
docs/ProgrammingCryptol.pdf
docs/Syntax.pdf
docs/Version2Changes.pdf

# don't check in distribution files
cryptol-2.*