-- Stackage snapshot from: http://www.stackage.org/snapshot/nightly-2016-06-07
-- Please place this file next to your .cabal file as cabal.config
-- To only use tested packages, uncomment the following line:
-- remote-repo: stackage-nightly-2016-06-07:http://www.stackage.org/nightly-2016-06-07
constraints: abstract-deque ==0.3,
             abstract-par ==0.3.3,
             AC-Vector ==2.3.2,
             accelerate ==0.15.1.0,
             ace ==0.6,
             action-permutations ==0.0.0.1,
             adjunctions ==4.3,
             aeson ==0.11.2.0,
             aeson-better-errors ==0.9.0.1,
             aeson-casing ==0.1.0.5,
             aeson-compat ==0.3.4.0,
             aeson-pretty ==0.7.2,
             aeson-qq ==0.8.1,
             aeson-utils ==0.3.0.2,
             airship ==0.6.0,
             alex ==3.1.7,
             amqp ==0.13.1,
             angel ==0.6.2,
             annotated-wl-pprint ==0.7.0,
             anonymous-sums ==0.4.0.0,
             ansi-terminal ==0.6.2.3,
             ansi-wl-pprint ==0.6.7.3,
             app-settings ==0.2.0.7,
             appar ==0.1.4,
             arbtt ==0.9.0.9,
             arithmoi ==0.4.2.0,
             array installed,
             arrow-list ==0.7,
             ascii-progress ==0.3.3.0,
             asn1-encoding ==0.9.3,
             asn1-parse ==0.9.4,
             asn1-types ==0.3.2,
             async ==2.1.0,
             async-dejafu ==0.1.2.2,
             atndapi ==0.1.1.0,
             atomic-primops ==0.8.0.4,
             atomic-write ==0.2.0.5,
             attoparsec ==0.13.0.2,
             attoparsec-expr ==0.1.1.2,
             authenticate ==1.3.3.1,
             authenticate-oauth ==1.5.1.2,
             auto ==0.4.3.0,
             auto-update ==0.1.4,
             autoexporter ==0.2.2,
             b9 ==0.5.19,
             bake ==0.4,
             base installed,
             base-compat ==0.9.1,
             base-noprelude ==4.9.0.0,
             base-orphans ==0.5.4,
             base-prelude ==1.0.1.1,
             base-unicode-symbols ==0.2.2.4,
             base16-bytestring ==0.1.1.6,
             base32string ==0.9.1,
             base58string ==0.10.0,
             base64-bytestring ==1.0.0.1,
             base64-string ==0.2,
             basic-prelude ==0.5.2,
             bcrypt ==0.0.9,
             bencode ==0.6.0.0,
             bento ==0.1.0,
             bifunctors ==5.3,
             bimap ==0.3.2,
             bimap-server ==0.1.0.1,
             binary installed,
             binary-bits ==0.5,
             binary-list ==1.1.1.1,
             binary-orphans ==0.1.4.0,
             binary-search ==1.0.0.3,
             binary-tagged ==0.1.4.0,
             binary-typed ==1.0,
             bindings-DSL ==1.0.23,
             bioace ==0.0.1,
             bioalign ==0.0.5,
             biocore ==0.3.1,
             biofasta ==0.0.3,
             biofastq ==0.1,
             biopsl ==0.4,
             bitcoin-api ==0.12.1,
             bitcoin-block ==0.13.1,
             bitcoin-script ==0.11.1,
             bitcoin-tx ==0.13.1,
             bitcoin-types ==0.9.2,
             blake2 ==0.1.0,
             BlastHTTP ==1.2.0,
             blastxml ==0.3.2,
             blaze-bootstrap ==0.1.0.1,
             blaze-builder ==0.4.0.2,
             blaze-html ==0.8.1.1,
             blaze-markup ==0.7.0.3,
             blaze-textual ==0.2.1.0,
             Boolean ==0.2.3,
             boolsimplifier ==0.1.8,
             boomerang ==1.4.5.2,
             BoundedChan ==1.0.3.0,
             bower-json ==0.8.0,
             boxes ==0.1.4,
             broadcast-chan ==0.1.0,
             btrfs ==0.1.2.0,
             byteable ==0.1.1,
             bytedump ==1.0,
             byteorder ==1.0.4,
             bytes ==0.15.2,
             byteset ==0.1.1.0,
             bytestring installed,
             bytestring-builder ==0.10.8.1.0,
             bytestring-conversion ==0.3.1,
             bytestring-lexing ==0.5.0.2,
             bytestring-progress ==1.0.6,
             bytestring-trie ==0.2.4.1,
             bzlib-conduit ==0.2.1.3,
             c2hs ==0.28.1,
             Cabal ==1.24.0.0,
             cabal-dependency-licenses ==0.1.2.0,
             cabal-file-th ==0.2.3,
             cabal-helper ==0.7.1.0,
             cabal-install ==1.24.0.0,
             cabal-rpm ==0.9.11,
             cabal-sort ==0.0.5.3,
             cabal-src ==0.3.0.1,
             cacophony ==0.7.0,
             cairo ==0.13.3.0,
             carray ==0.1.6.4,
             cartel ==0.16.0.0,
             case-insensitive ==1.2.0.6,
             cased ==0.1.0.0,
             cases ==0.1.3.1,
             cassava ==0.4.5.0,
             cayley-client ==0.1.5.1,
             cereal ==0.5.2.0,
             cereal-conduit ==0.7.3,
             cgi ==3001.3.0.1,
             ChannelT ==0.0.0.2,
             charset ==0.3.7.1,
             charsetdetect-ae ==1.1.0.1,
             Chart ==1.7.1,
             Chart-cairo ==1.7.1,
             ChasingBottoms ==1.3.0.14,
             cheapskate ==0.1.0.5,
             cheapskate-highlight ==0.1.0.0,
             cheapskate-lucid ==0.1.0.0,
             check-email ==1.0,
             checkers ==0.4.4,
             chunked-data ==0.2.0,
             cipher-aes ==0.2.11,
             cipher-aes128 ==0.7.0.1,
             cipher-blowfish ==0.0.3,
             cipher-camellia ==0.0.2,
             cipher-des ==0.0.6,
             cipher-rc4 ==0.1.4,
             circle-packing ==0.1.0.5,
             clash-lib ==0.6.15,
             clash-prelude ==0.10.7,
             clash-systemverilog ==0.6.6,
             clash-verilog ==0.6.6,
             clash-vhdl ==0.6.11,
             classy-prelude ==0.12.7,
             classy-prelude-conduit ==0.12.7,
             classy-prelude-yesod ==0.12.7,
             clay ==0.10.1,
             clientsession ==0.9.1.1,
             Clipboard ==2.3.0.1,
             clock ==0.7.2,
             clumpiness ==0.17.0.0,
             ClustalParser ==1.1.4,
             clustering ==0.2.1,
             cmark ==0.5.2.1,
             cmdargs ==0.10.14,
             code-builder ==0.1.3,
             colour ==2.3.3,
             commutative ==0.0.1.4,
             comonad ==5,
             comonad-transformers ==4.0,
             comonads-fd ==4.0,
             compactmap ==0.1.4.1,
             composition ==1.0.2.1,
             composition-extra ==2.0.0,
             concatenative ==1.0.1,
             concurrent-extra ==0.7.0.10,
             concurrent-output ==1.7.6,
             concurrent-supply ==0.1.8,
             conduit ==1.2.6.6,
             conduit-combinators ==1.0.3.1,
             conduit-extra ==1.1.13.1,
             conduit-iconv ==0.1.1.1,
             ConfigFile ==1.1.4,
             configuration-tools ==0.2.14,
             configurator ==0.3.0.0,
             configurator-export ==0.1.0.1,
             connection ==0.2.5,
             constraints ==0.8,
             consul-haskell ==0.3,
             containers installed,
             containers-unicode-symbols ==0.3.1.1,
             continued-fractions ==0.9.1.1,
             contravariant ==1.4,
             control-bool ==0.2.1,
             control-monad-omega ==0.3.1,
             converge ==0.1.0.1,
             cookie ==0.4.2,
             country-codes ==0.1.3,
             courier ==0.1.1.2,
             cpphs ==1.20.1,
             cprng-aes ==0.6.1,
             cpu ==0.1.2,
             criterion ==1.1.1.0,
             cron ==0.4.1.1,
             crypto-api ==0.13.2,
             crypto-api-tests ==0.3,
             crypto-cipher-tests ==0.0.11,
             crypto-cipher-types ==0.0.9,
             crypto-pubkey-types ==0.4.3,
             crypto-random ==0.0.9,
             crypto-random-api ==0.2.0,
             cryptocipher ==0.6.2,
             cryptohash ==0.11.9,
             cryptohash-conduit ==0.1.1,
             cryptohash-cryptoapi ==0.1.4,
             cryptohash-sha256 ==0.11.100.0,
             cryptonite ==0.16,
             cryptonite-conduit ==0.1,
             css-syntax ==0.0.5,
             css-text ==0.1.2.1,
             ctrie ==0.1.1.0,
             curl ==1.3.8,
             data-accessor ==0.2.2.7,
             data-accessor-mtl ==0.2.0.4,
             data-binary-ieee754 ==0.4.4,
             data-default ==0.6.0,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.1.0,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             data-inttrie ==0.1.2,
             data-lens-light ==0.1.2.2,
             data-memocombinators ==0.5.1,
             data-or ==1.0.0.5,
             data-ordlist ==0.4.7.0,
             dataurl ==0.1.0.0,
             DAV ==1.2,
             debian-build ==0.9.2.0,
             deepseq installed,
             deepseq-generics ==0.2.0.0,
             dejafu ==0.3.2.0,
             dependent-map ==0.2.2.0,
             dependent-sum ==0.3.2.2,
             dependent-sum-template ==0.0.0.5,
             derive ==2.5.25,
             deriving-compat ==0.2,
             descriptive ==0.9.4,
             Diff ==0.3.4,
             diff3 ==0.2.0.3,
             digest ==0.0.1.2,
             digits ==0.2,
             dimensional ==1.0.1.2,
             direct-sqlite ==2.3.17,
             directory installed,
             directory-tree ==0.12.0,
             discount ==0.1.1,
             disk-free-space ==0.1.0.1,
             distributive ==0.5.0.2,
             djinn-ghc ==0.0.2.3,
             djinn-lib ==0.0.1.2,
             dlist ==0.7.1.2,
             dlist-instances ==0.1,
             dockerfile ==0.1.0.1,
             docopt ==0.7.0.4,
             doctest ==0.11.0,
             doctest-discover ==0.1.0.7,
             dotnet-timespan ==0.0.1.0,
             double-conversion ==2.0.1.0,
             dpor ==0.2.0.0,
             drawille ==0.1.0.6,
             DRBG ==0.5.5,
             drifter ==0.2.2,
             drifter-postgresql ==0.0.2,
             dual-tree ==0.2.0.9,
             dynamic-state ==0.2.2.0,
             dyre ==0.8.12,
             Earley ==0.11.0.1,
             easy-file ==0.2.1,
             Ebnf2ps ==1.0.15,
             ed25519 ==0.0.5.0,
             edit-distance ==0.2.2.1,
             editor-open ==0.6.0.0,
             effect-handlers ==0.1.0.8,
             either ==4.4.1.1,
             either-unwrap ==1.1,
             ekg-core ==0.1.1.1,
             elm-bridge ==0.3.0.2,
             elm-core-sources ==1.0.0,
             email-validate ==2.2.0,
             enclosed-exceptions ==1.0.1.1,
             entropy ==0.3.7,
             envelope ==0.1.0.0,
             eq ==4.0.4,
             erf ==2.0.0.0,
             errors ==2.1.2,
             ersatz ==0.3.1,
             etcd ==1.0.5,
             ether ==0.4.0.2,
             exact-combinatorics ==0.2.0.8,
             exact-pi ==0.4.1.2,
             exception-mtl ==0.4.0.1,
             exception-transformers ==0.4.0.4,
             exceptional ==0.3.0.0,
             exceptions ==0.8.2.1,
             executable-hash ==0.2.0.2,
             executable-path ==0.0.3,
             expiring-cache-map ==0.0.5.4,
             explicit-exception ==0.1.8,
             extensible-effects ==1.11.0.4,
             extensible-exceptions ==0.1.1.4,
             extra ==1.4.9,
             extract-dependencies ==0.2.0.1,
             fail ==4.9.0.0,
             farmhash ==0.1.0.5,
             fast-logger ==2.4.6,
             fb ==1.0.13,
             fclabels ==2.0.3,
             feature-flags ==0.1.0.1,
             feed ==0.3.11.1,
             FenwickTree ==0.1.2.1,
             fft ==0.1.8.3,
             fgl ==5.5.2.3,
             fgl-arbitrary ==0.2.0.1,
             file-embed ==0.0.10,
             file-modules ==0.1.2.3,
             filecache ==0.2.9,
             filelock ==0.1.0.1,
             filemanip ==0.3.6.3,
             filepath installed,
             find-clumpiness ==0.2.0.1,
             fingertree ==0.1.1.0,
             fingertree-psqueue ==0.3,
             fixed ==0.2.1.1,
             fixed-vector ==0.8.1.0,
             flat-mcmc ==1.0.1,
             flock ==0.3.1.8,
             flow ==1.0.7,
             fmlist ==0.9,
             fn ==0.3.0.1,
             focus ==0.1.5,
             fold-debounce ==0.2.0.2,
             fold-debounce-conduit ==0.1.0.2,
             foldl ==1.2.1,
             forecast-io ==0.2.0.0,
             foreign-store ==0.2,
             formatting ==6.2.2,
             free ==4.12.4,
             free-vl ==0.1.4,
             freenect ==1.2.1,
             frisby ==0.2,
             frontmatter ==0.1.0.2,
             fsnotify ==0.2.1,
             funcmp ==1.8,
             fuzzcheck ==0.1.1,
             gamma ==0.9.0.2,
             gd ==3000.7.3,
             Genbank ==1.0.3,
             generic-aeson ==0.2.0.8,
             generic-deriving ==1.10.4.1,
             generic-xmlpickler ==0.1.0.5,
             GenericPretty ==1.2.1,
             generics-eot ==0.2.1.1,
             generics-sop ==0.2.1.0,
             getopt-generics ==0.13,
             ghc installed,
             ghc-boot installed,
             ghc-boot-th installed,
             ghc-exactprint ==0.5.1.1,
             ghc-paths ==0.1.0.9,
             ghc-prim installed,
             ghc-syb-utils ==0.2.3,
             ghc-tcplugins-extra ==0.2,
             ghc-typelits-extra ==0.1.1,
             ghc-typelits-natnormalise ==0.4.1,
             ghci installed,
             ghcid ==0.6.4,
             ghcjs-codemirror ==0.0.0.1,
             gi-atk ==2.0.3,
             gi-cairo ==1.0.3,
             gi-gdk ==3.0.3,
             gi-gdkpixbuf ==2.0.3,
             gi-gio ==2.0.3,
             gi-glib ==2.0.3,
             gi-gobject ==2.0.3,
             gi-javascriptcore ==3.0.4,
             gi-pango ==1.0.3,
             gio ==0.13.3.0,
             giphy-api ==0.4.0.0,
             github-types ==0.2.1,
             github-webhook-handler ==0.0.8,
             gitrev ==1.2.0,
             gitson ==0.5.1,
             gl ==0.7.8.1,
             glib ==0.13.4.0,
             Glob ==0.7.5,
             GLURaw ==2.0.0.2,
             GLUT ==2.7.0.10,
             google-cloud ==0.0.4,
             graph-core ==0.3.0.0,
             graph-wrapper ==0.2.5.1,
             graphs ==0.7,
             graphviz ==2999.18.1.0,
             gravatar ==0.8.0,
             graylog ==0.1.0.1,
             grouped-list ==0.2.1.2,
             groupoids ==4.0,
             groups ==0.4.0.0,
             gtk ==0.14.5,
             gtk2hs-buildtools ==0.13.2.1,
             gtk3 ==0.14.5,
             gtksourceview3 ==0.13.3.0,
             hackage-db ==1.22,
             hackage-security ==0.5.1.0,
             haddock-api ==2.17.3,
             haddock-library ==1.4.2,
             half ==0.2.2.3,
             hamlet ==1.2.0,
             HandsomeSoup ==0.4.2,
             handwriting ==0.1.0.3,
             hapistrano ==0.2.1.2,
             happy ==1.19.5,
             hashable ==1.2.4.0,
             hashable-time ==0.2,
             hashtables ==1.2.1.0,
             haskeline ==0.7.2.3,
             haskell-gi ==0.17.4,
             haskell-gi-base ==0.17,
             haskell-lexer ==1.0,
             haskell-neo4j-client ==0.3.2.2,
             haskell-spacegoo ==0.2.0.1,
             haskell-src ==1.0.2.0,
             haskell-src-exts ==1.17.1,
             haskell-src-meta ==0.6.0.14,
             HaskellNet ==0.5.1,
             HaskellNet-SSL ==0.3.3.0,
             hastache ==0.6.1,
             HaTeX ==3.17.0.2,
             hbayes ==0.5.2,
             hbeanstalk ==0.2.4,
             HCodecs ==0.5,
             hdaemonize ==0.5.0.2,
             heap ==1.0.3,
             heaps ==0.3.3,
             hebrew-time ==0.1.1,
             hedis ==0.9.1,
             here ==1.2.8,
             heredoc ==0.2.0.0,
             hex ==0.1.2,
             hexpat ==0.20.9,
             hexstring ==0.11.1,
             hflags ==0.4.2,
             hformat ==0.1.0.1,
             hfsevents ==0.1.6,
             hidapi ==0.1.4,
             highlighting-kate ==0.6.2,
             hindent ==4.6.3,
             hinotify ==0.3.8.1,
             histogram-fill ==0.8.4.1,
             hit ==0.6.3,
             hjpath ==3.0.1,
             hjsmin ==0.2.0.1,
             hjson ==1.3.2,
             hjsonpointer ==0.3.0.1,
             hjsonschema ==0.10.0.2,
             hlibgit2 ==0.18.0.15,
             hlibsass ==0.1.5.0,
             hlint ==1.9.34,
             hmatrix ==0.17.0.2,
             hmatrix-gsl ==0.17.0.0,
             hmatrix-gsl-stats ==0.4.1.3,
             hoauth2 ==0.5.3.1,
             homplexity ==0.4.3.3,
             hoogle ==4.2.43,
             hoopl installed,
             hopenssl ==1.7,
             hostname ==1.0,
             hostname-validate ==1.0.0,
             hourglass ==0.2.10,
             hpc installed,
             hpc-coveralls ==1.0.4,
             hPDB ==1.2.0.9,
             hPDB-examples ==1.2.0.7,
             HPDF ==1.4.10,
             hpio ==0.8.0.1,
             hprotoc ==2.4.0,
             hruby ==0.3.4.1,
             hs-GeoIP ==0.3,
             hsass ==0.4.0,
             hsb2hs ==0.3.1,
             hscolour ==1.24,
             hse-cpp ==0.1,
             hsebaysdk ==0.4.0.0,
             hsemail ==1.7.7,
             HSet ==0.0.0,
             hsexif ==0.6.0.8,
             hsignal ==0.2.7.4,
             hslogger ==1.2.10,
             hsndfile ==0.8.0,
             hsndfile-vector ==0.5.2,
             HsOpenSSL ==0.11.1.1,
             hsp ==0.10.0,
             hspec ==2.2.3,
             hspec-attoparsec ==0.1.0.2,
             hspec-contrib ==0.3.0,
             hspec-core ==2.2.3,
             hspec-discover ==2.2.3,
             hspec-expectations ==0.7.2,
             hspec-expectations-pretty-diff ==0.7.2.4,
             hspec-jenkins ==0.1.1,
             hspec-megaparsec ==0.2.0,
             hspec-meta ==2.2.1,
             hspec-smallcheck ==0.4.1,
             hspec-wai ==0.6.6,
             hspec-wai-json ==0.6.1,
             hstatistics ==0.2.5.3,
             hstatsd ==0.1,
             HStringTemplate ==0.8.5,
             hsyslog ==2.0,
             htaglib ==1.0.3,
             HTF ==0.13.1.0,
             html-conduit ==1.2.1,
             htoml ==1.0.0.1,
             HTTP ==4000.3.3,
             http-api-data ==0.2.2,
             http-client ==0.4.28,
             http-client-openssl ==0.2.0.2,
             http-client-tls ==0.2.4,
             http-common ==0.8.2.0,
             http-conduit ==2.1.10.1,
             http-date ==0.0.6.1,
             http-link-header ==1.0.1,
             http-media ==0.6.3,
             http-reverse-proxy ==0.4.3,
             http-types ==0.9.1,
             http2 ==1.6.0,
             httpd-shed ==0.4.0.3,
             human-readable-duration ==0.2.0.1,
             HUnit ==1.3.1.1,
             HUnit-approx ==1.0,
             hunit-dejafu ==0.3.0.1,
             hvect ==0.3.1.0,
             hw-bits ==0.0.0.6,
             hw-conduit ==0.0.0.11,
             hw-diagnostics ==0.0.0.2,
             hw-prim ==0.0.3.1,
             hw-rankselect ==0.0.0.5,
             hweblib ==0.6.3,
             hworker ==0.1.0.1,
             hxt ==9.3.1.15,
             hxt-charproperties ==9.2.0.1,
             hxt-css ==0.1.0.2,
             hxt-curl ==9.1.1.1,
             hxt-expat ==9.1.1,
             hxt-http ==9.1.5.2,
             hxt-pickle-utils ==0.1.0.3,
             hxt-regex-xmlschema ==9.2.0.2,
             hxt-tagsoup ==9.1.3,
             hxt-unicode ==9.0.2.4,
             hybrid-vectors ==0.2.1,
             hyphenation ==0.6,
             ical ==0.0.1,
             iconv ==0.4.1.3,
             identicon ==0.1.0,
             ieee754 ==0.7.8,
             IfElse ==0.85,
             ignore ==0.1.1.0,
             ilist ==0.2.0.0,
             imagesize-conduit ==1.1,
             immortal ==0.2.2,
             include-file ==0.1.0.3,
             incremental-parser ==0.2.4.1,
             indentation-core ==0.0,
             indentation-parsec ==0.0,
             indents ==0.3.3,
             inflections ==0.2.0.1,
             ini ==0.3.5,
             insert-ordered-containers ==0.1.0.1,
             integer-gmp installed,
             integration ==0.2.1,
             intero ==0.1.13,
             interpolate ==0.1.0,
             interpolatedstring-perl6 ==1.0.0,
             IntervalMap ==0.5.1.0,
             intervals ==0.7.2,
             invariant ==0.3.1,
             io-choice ==0.0.6,
             io-machine ==0.2.0.0,
             io-manager ==0.1.0.2,
             io-memoize ==1.1.1.0,
             io-region ==0.1.1,
             io-storage ==0.3,
             io-streams ==1.3.5.0,
             ip6addr ==0.5.1.2,
             iproute ==1.7.0,
             IPv6Addr ==0.6.1.0,
             irc ==0.6.1.0,
             irc-conduit ==0.1.2.0,
             irc-ctcp ==0.1.3.0,
             irc-dcc ==1.2.1,
             islink ==0.1.0.0,
             iso3166-country-codes ==0.20140203.7,
             iso639 ==0.1.0.3,
             iso8601-time ==0.1.4,
             iterable ==3.0,
             ix-shapable ==0.1.0,
             jmacro ==0.6.14,
             jmacro-rpc ==0.3.2,
             jose ==0.4.0.2,
             jose-jwt ==0.7,
             js-flot ==0.8.3,
             js-jquery ==1.12.4,
             json-autotype ==1.0.14,
             json-schema ==0.7.4.1,
             JuicyPixels ==3.2.7.1,
             JuicyPixels-extra ==0.1.0,
             JuicyPixels-scale-dct ==0.1.1.0,
             JuicyPixels-util ==0.2,
             kan-extensions ==5.0.1,
             kdt ==0.2.4,
             keter ==1.4.3.1,
             keycode ==0.2,
             keys ==3.11,
             kmeans ==0.1.3,
             knob ==0.1.1,
             koofr-client ==1.0.0.3,
             kraken ==0.0.2,
             lackey ==0.3.2,
             language-c ==0.5.0,
             language-c-quote ==0.11.6.2,
             language-ecmascript ==0.17.1.0,
             language-glsl ==0.2.0,
             language-haskell-extract ==0.2.4,
             language-java ==0.2.8,
             language-javascript ==0.6.0.5,
             language-lua2 ==0.1.0.5,
             language-nix ==2.1.0.1,
             language-thrift ==0.9.0.1,
             largeword ==1.2.5,
             lattices ==1.5.0,
             lazy-csv ==0.5.1,
             lca ==0.3,
             lens ==4.14,
             lens-aeson ==1.0.0.5,
             lens-datetime ==0.3,
             lens-family-th ==0.5.0.0,
             lens-regex ==0.1.0,
             leveldb-haskell ==0.6.4,
             lexer-applicative ==2.1.0.1,
             lhs2tex ==1.19,
             libgit ==0.3.1,
             libinfluxdb ==0.0.4,
             libnotify ==0.1.1.0,
             lift-generics ==0.1.1,
             lifted-async ==0.9.0,
             lifted-base ==0.2.3.6,
             linear ==1.20.5,
             linux-file-extents ==0.2.0.0,
             linux-namespaces ==0.1.2.0,
             List ==0.5.2,
             list-fusion-probe ==0.1.0.6,
             list-prompt ==0.1.1.0,
             list-t ==0.4.7,
             ListLike ==4.2.1,
             loch-th ==0.2.1,
             logfloat ==0.13.3.3,
             logging-facade ==0.1.1,
             logict ==0.6.0.2,
             loop ==0.3.0,
             lrucache ==1.2.0.0,
             lucid ==2.9.5,
             mainland-pretty ==0.4.1.4,
             mandrill ==0.5.2.1,
             markdown ==0.1.14,
             markdown-unlit ==0.4.0,
             markup ==3.1.0,
             math-functions ==0.1.7.0,
             matrices ==0.4.3,
             matrix ==0.3.5.0,
             maximal-cliques ==0.1.1,
             mbox ==0.3.3,
             mcmc-types ==1.0.1,
             megaparsec ==5.0.0,
             memory ==0.13,
             MemoTrie ==0.6.4,
             mersenne-random-pure64 ==0.2.0.5,
             metrics ==0.3.0.2,
             MFlow ==0.4.6.0,
             microlens ==0.4.4.0,
             microlens-aeson ==2.1.1,
             microlens-contra ==0.1.0.1,
             microlens-ghc ==0.4.4.0,
             microlens-mtl ==0.1.7.1,
             microlens-platform ==0.3.1.0,
             microlens-th ==0.4.0.0,
             mighty-metropolis ==1.0.2,
             mime-mail ==0.4.11,
             mime-mail-ses ==0.3.2.2,
             mime-types ==0.1.0.7,
             missing-foreign ==0.1.1,
             MissingH ==1.4.0.0,
             mmap ==0.5.9,
             mmorph ==1.0.6,
             mockery ==0.3.3,
             moesocks ==1.0.0.41,
             monad-control ==1.0.1.0,
             monad-coroutine ==0.9.0.3,
             monad-extras ==0.5.11,
             monad-http ==0.1.0.0,
             monad-journal ==0.7.2,
             monad-logger ==0.3.18,
             monad-logger-json ==0.1.0.0,
             monad-loops ==0.4.3,
             monad-par ==0.3.4.7,
             monad-par-extras ==0.3.3,
             monad-parallel ==0.7.2.2,
             monad-peel ==0.2.1.1,
             monad-primitive ==0.1,
             monad-products ==4.0.1,
             monad-skeleton ==0.1.2.2,
             monad-time ==0.2,
             monad-unlift ==0.2.0,
             monad-unlift-ref ==0.2.0,
             monadcryptorandom ==0.7.0,
             monadic-arrays ==0.2.2,
             monadloc ==0.7.1,
             MonadRandom ==0.4.2.3,
             mono-traversable ==0.10.2,
             monoid-extras ==0.4.0.4,
             monoid-subclasses ==0.4.2.1,
             monoidal-containers ==0.1.2.5,
             mountpoints ==1.0.2,
             mtl ==2.2.1,
             mtl-compat ==0.2.1.3,
             mtl-prelude ==2.0.3.1,
             multiarg ==0.30.0.10,
             multimap ==1.2.1,
             multipart ==0.1.2,
             multiset ==0.3.3,
             murmur-hash ==0.1.0.9,
             MusicBrainz ==0.2.4,
             mustache ==1.0,
             mutable-containers ==0.3.2.1,
             mwc-probability ==1.2.1,
             mwc-random ==0.13.4.0,
             nagios-check ==0.3.2,
             nano-erl ==0.1.0.1,
             nanospec ==0.2.1,
             nationstates ==0.5.0.0,
             nats ==1.1,
             natural-sort ==0.1.2,
             natural-transformation ==0.3.1,
             ndjson-conduit ==0.1.0.3,
             neat-interpolation ==0.3.2,
             network ==2.6.2.1,
             network-conduit-tls ==1.2.2,
             network-house ==0.1.0.2,
             network-info ==0.2.0.8,
             network-uri ==2.6.1.0,
             newtype ==0.2,
             nicify-lib ==1.0.1,
             nix-paths ==1,
             nonce ==1.0.2,
             nsis ==0.3,
             numbers ==3000.2.0.1,
             numeric-extras ==0.1,
             NumInstances ==1.4,
             numtype-dk ==0.5.0.1,
             objective ==1.1.1,
             ObjectName ==1.1.0.1,
             octane ==0.6.3,
             Octree ==0.5.4.3,
             ofx ==0.4.0.4,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             OneTuple ==0.2.1,
             oo-prototypes ==0.1.0.0,
             open-browser ==0.2.1.0,
             OpenGL ==3.0.1.0,
             OpenGLRaw ==3.2.0.0,
             openpgp-asciiarmor ==0.1,
             opensource ==0.1.0.0,
             openssl-streams ==1.2.1.0,
             operational ==0.2.3.2,
             operational-class ==0.3.0.0,
             optparse-applicative ==0.12.1.0,
             optparse-generic ==1.1.1,
             osdkeys ==0.0,
             package-description-remote ==0.2.0.0,
             packdeps ==0.4.2.1,
             pager ==0.1.1.0,
             pagerduty ==0.0.7,
             palette ==0.1.0.3,
             pandoc-types ==1.16.1,
             pango ==0.13.3.0,
             parallel ==3.2.1.0,
             parallel-io ==0.3.3,
             parseargs ==0.2.0.4,
             parsec ==3.1.11,
             partial-handler ==1.0.1,
             path ==0.5.7,
             path-extra ==0.0.3,
             path-io ==1.1.0,
             path-pieces ==0.2.1,
             pathwalk ==0.3.1.2,
             patience ==0.1.1,
             pattern-arrows ==0.0.2,
             pcre-heavy ==1.0.0.2,
             pcre-light ==0.4.0.4,
             pcre-utils ==0.1.8.1,
             pdf-toolbox-content ==0.0.5.1,
             pdf-toolbox-core ==0.0.4.1,
             pdf-toolbox-document ==0.0.7.1,
             pdfinfo ==1.5.4,
             pem ==0.2.2,
             persistent ==2.5,
             persistent-postgresql ==2.5,
             persistent-refs ==0.4,
             persistent-sqlite ==2.5.0.2,
             persistent-template ==2.5.1.3,
             pgp-wordlist ==0.1.0.1,
             phantom-state ==0.2.1.2,
             picoparsec ==0.1.2.3,
             pinch ==0.3.0.0,
             pinchot ==0.18.0.2,
             pipes ==4.1.9,
             pipes-attoparsec ==0.5.1.3,
             pipes-bgzf ==0.2.0.1,
             pipes-cacophony ==0.3.0,
             pipes-concurrency ==2.0.6,
             pipes-http ==1.0.2,
             pipes-illumina ==0.1.0.0,
             pipes-parse ==3.0.7,
             pipes-wai ==3.2.0,
             plan-b ==0.2.0,
             pointed ==5,
             pointedlist ==0.6.1,
             pointful ==1.0.8,
             pointless-fun ==1.1.0.6,
             polynomials-bernstein ==1.1.2,
             polyparse ==1.12,
             posix-realtime ==0.0.0.4,
             post-mess-age ==0.2.1.0,
             postgresql-libpq ==0.9.1.1,
             postgresql-simple ==0.5.2.0,
             postgresql-simple-url ==0.1.0.1,
             postgresql-transactional ==1.1.1,
             pred-set ==0.0.1,
             prednote ==0.36.0.4,
             prefix-units ==0.2.0,
             prelude-extras ==0.4.0.3,
             prelude-safeenum ==0.1.1.2,
             preprocessor-tools ==1.0.1,
             pretty installed,
             pretty-class ==1.0.1.1,
             pretty-hex ==1.0,
             pretty-show ==1.6.10,
             prettyclass ==1.0.0.0,
             primes ==0.2.1.0,
             primitive ==0.6.1.0,
             process installed,
             process-extras ==0.4.1.4,
             product-profunctors ==0.7.1.0,
             profiteur ==0.3.0.2,
             profunctor-extras ==4.0,
             profunctors ==5.2,
             project-template ==0.2.0,
             projectroot ==0.2.0.1,
             prometheus-client ==0.1.0.1,
             prometheus-metrics-ghc ==0.1.0.1,
             prompt ==0.1.1.2,
             protobuf-simple ==0.1.0.1,
             protocol-buffers ==2.4.0,
             protocol-buffers-descriptor ==2.4.0,
             protolude ==0.1.5,
             proxied ==0.2,
             psql-helpers ==0.1.0.0,
             PSQueue ==1.1,
             psqueues ==0.2.2.1,
             publicsuffix ==0.20160526,
             pure-cdb ==0.1.2,
             pure-io ==0.2.1,
             pureMD5 ==2.1.3,
             purescript ==0.9.1,
             pwstore-fast ==2.4.4,
             QuasiText ==0.1.2.6,
             questioner ==0.1.1.0,
             QuickCheck ==2.8.2,
             quickcheck-assertions ==0.2.0,
             quickcheck-instances ==0.3.12,
             quickcheck-io ==0.1.2,
             quickcheck-simple ==0.1.0.0,
             quickcheck-text ==0.1.0.1,
             quickcheck-unicode ==1.0.0.1,
             rainbow ==0.28.0.0,
             rainbox ==0.18.0.8,
             random ==1.1,
             random-shuffle ==0.0.4,
             random-tree ==0.6.0.5,
             range ==0.1.2.0,
             range-set-list ==0.1.2.0,
             raw-strings-qq ==1.1,
             read-editor ==0.1.0.2,
             read-env-var ==0.1.0.0,
             ReadArgs ==1.2.2,
             readline ==1.0.3.0,
             redis-io ==0.7.0,
             redis-resp ==0.4.0,
             reducers ==3.12.1,
             ref-fd ==0.4.0.1,
             refact ==0.3.0.2,
             reflection ==2.1.2,
             reform ==0.2.7.1,
             reform-blaze ==0.2.4.1,
             reform-hamlet ==0.0.5.1,
             RefSerialize ==0.3.1.4,
             regex-applicative ==0.3.3,
             regex-applicative-text ==0.1.0.1,
             regex-base ==0.93.2,
             regex-compat ==0.95.1,
             regex-compat-tdfa ==0.95.1.4,
             regex-pcre ==0.94.4,
             regex-pcre-builtin ==0.94.4.8.8.35,
             regex-posix ==0.95.2,
             regex-tdfa ==1.2.2,
             reinterpret-cast ==0.1.0,
             reroute ==0.3.1.0,
             resolve-trivial-conflicts ==0.3.2.2,
             resource-pool ==0.2.3.2,
             resourcet ==1.1.7.4,
             rest-client ==0.5.1.0,
             rest-core ==0.39,
             rest-gen ==0.19.0.3,
             rest-stringmap ==0.2.0.6,
             rest-types ==1.14.1,
             rest-wai ==0.2.0.1,
             rethinkdb ==2.2.0.5,
             rethinkdb-client-driver ==0.0.23,
             retry ==0.7.4,
             rev-state ==0.1.2,
             rng-utils ==0.2.1,
             rose-trees ==0.0.3,
             rotating-log ==0.4,
             RSA ==2.2.0,
             rts installed,
             runmemo ==1.0.0.1,
             s3-signer ==0.3.0.0,
             safe ==0.3.9,
             SafeSemaphore ==0.10.1,
             sandman ==0.2.0.1,
             scalpel ==0.3.1,
             scanner ==0.2,
             scientific ==0.3.4.6,
             scotty ==0.11.0,
             scrypt ==0.5.0,
             securemem ==0.1.9,
             SegmentTree ==0.3,
             semigroupoid-extras ==5,
             semigroupoids ==5.0.1,
             semigroups ==0.18.1,
             semiring-simple ==1.0.0.1,
             semver ==0.3.3.1,
             seqalign ==0.2.0.4,
             seqloc ==0.6.1.1,
             serf ==0.1.1.0,
             servant ==0.7.1,
             servant-blaze ==0.7.1,
             servant-cassava ==0.7.1,
             servant-client ==0.7.1,
             servant-docs ==0.7.1,
             servant-foreign ==0.7.1,
             servant-js ==0.7.1,
             servant-JuicyPixels ==0.3.0.2,
             servant-lucid ==0.7.1,
             servant-mock ==0.7.1,
             servant-server ==0.7.1,
             servant-swagger ==1.1,
             servant-yaml ==0.1.0.0,
             serversession ==1.0.1,
             serversession-frontend-wai ==1.0,
             serversession-frontend-yesod ==1.0,
             servius ==1.2.0.2,
             set-monad ==0.2.0.0,
             setenv ==0.1.1.3,
             setlocale ==1.0.0.3,
             sets ==0.0.5,
             SHA ==1.6.4.2,
             shake ==0.15.8,
             shake-language-c ==0.9.1,
             shakespeare ==2.0.8.2,
             shelly ==1.6.6,
             shortcut-links ==0.4.2.0,
             should-not-typecheck ==2.1.0,
             signal ==0.1.0.3,
             silently ==1.2.5,
             simple ==0.11.1,
             simple-log ==0.4.0,
             simple-reflect ==0.3.2,
             simple-sendfile ==0.2.24,
             simple-session ==0.10.1.1,
             simple-templates ==0.8.0.1,
             simpleirc ==0.3.1,
             singletons ==2.1,
             siphash ==1.0.3,
             skein ==1.0.9.4,
             skeletons ==0.4.0,
             slave-thread ==1.0.1.1,
             slug ==0.1.3,
             smallcheck ==1.1.1,
             smtp-mail ==0.1.4.5,
             soap ==0.2.3.0,
             soap-openssl ==0.1.0.2,
             soap-tls ==0.1.1.2,
             socket ==0.6.0.1,
             socks ==0.5.5,
             sorted-list ==0.2.0.0,
             sourcemap ==0.1.6,
             spdx ==0.2.1.0,
             speculation ==1.5.0.3,
             speedy-slice ==0.1.3,
             Spintax ==0.1.0.0,
             split ==0.2.3.1,
             Spock ==0.10.0.1,
             Spock-lucid ==0.3.0.0,
             Spock-worker ==0.3.0.0,
             sqlite-simple ==0.4.9.0,
             srcloc ==0.5.1.0,
             stack-run-auto ==0.1.1.2,
             state-plus ==0.1.2,
             StateVar ==1.1.0.4,
             stateWriter ==0.2.8,
             statistics ==0.13.3.0,
             stm ==2.4.4.1,
             stm-chans ==3.0.0.4,
             stm-containers ==0.2.13,
             stm-delay ==0.1.1.1,
             stm-stats ==0.2.0.0,
             stopwatch ==0.1.0.2,
             storable-complex ==0.2.2,
             storable-endian ==0.2.5,
             streaming-commons ==0.1.15.5,
             streamproc ==1.6.2,
             strict ==0.3.2,
             strict-base-types ==0.5.0,
             string-class ==0.1.6.5,
             string-combinators ==0.6.0.5,
             string-conv ==0.1.1,
             string-conversions ==0.4,
             string-qq ==0.0.2,
             stringable ==0.1.3,
             stringbuilder ==0.5.0,
             stringsearch ==0.3.6.6,
             stylish-haskell ==0.5.16.0,
             sundown ==0.6,
             svg-builder ==0.1.0.1,
             swagger ==0.2.2,
             swagger2 ==2.1,
             syb ==0.6,
             symbol ==0.2.4,
             system-argv0 ==0.1.1,
             system-fileio ==0.3.16.3,
             system-filepath ==0.4.13.4,
             tagged ==0.8.4,
             tagged-binary ==0.2.0.0,
             taggy ==0.2.0,
             taggy-lens ==0.1.2,
             tagshare ==0.0,
             tagsoup ==0.13.10,
             tagstream-conduit ==0.5.5.3,
             tar ==0.5.0.3,
             tardis ==0.4.1.0,
             tasty ==0.11.0.3,
             tasty-ant-xml ==1.0.2,
             tasty-dejafu ==0.3.0.1,
             tasty-golden ==2.3.1,
             tasty-hspec ==1.1.3,
             tasty-html ==0.4.1.1,
             tasty-hunit ==0.9.2,
             tasty-kat ==0.0.3,
             tasty-quickcheck ==0.8.4,
             tasty-silver ==3.1.8.1,
             tasty-smallcheck ==0.8.1,
             tasty-th ==0.1.4,
             Taxonomy ==1.0.1,
             TCache ==0.12.0,
             telegram-api ==0.4.3.0,
             template ==0.2.0.10,
             template-haskell installed,
             temporary ==1.2.0.4,
             temporary-rc ==1.2.0.3,
             terminal-progress-bar ==0.0.1.4,
             terminal-size ==0.3.2.1,
             terminfo ==0.4.0.2,
             test-framework ==0.8.1.1,
             test-framework-hunit ==0.3.0.2,
             test-framework-quickcheck2 ==0.3.0.3,
             test-framework-smallcheck ==0.2,
             test-framework-th ==0.2.4,
             test-simple ==0.1.8,
             testing-feat ==0.4.0.3,
             texmath ==0.8.6.3,
             text ==1.2.2.1,
             text-binary ==0.2.1,
             text-format ==0.3.1.1,
             text-ldap ==0.1.1.6,
             text-manipulate ==0.2.0.1,
             text-region ==0.1.0.1,
             text-show ==3.2.2,
             tf-random ==0.5,
             th-desugar ==1.6,
             th-expand-syns ==0.4.0.0,
             th-extras ==0.0.0.4,
             th-lift ==0.7.6,
             th-lift-instances ==0.1.8,
             th-orphans ==0.13.1,
             th-reify-many ==0.1.6,
             these ==0.7,
             through-text ==0.1.0.0,
             thumbnail-plus ==1.0.5,
             time installed,
             time-compat ==0.1.0.3,
             time-lens ==0.4.0.1,
             time-locale-compat ==0.1.1.1,
             timemap ==0.0.3,
             timerep ==2.0.0.1,
             tinylog ==0.14.0,
             tinytemplate ==0.1.2.0,
             tls ==1.3.8,
             tls-debug ==0.4.4,
             token-bucket ==0.1.0.1,
             tostring ==0.2.1.1,
             transformers installed,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             transformers-lift ==0.1.0.1,
             traverse-with-class ==0.2.0.4,
             tree-fun ==0.8.1.0,
             tries ==0.0.4,
             ttrie ==0.1.2.1,
             tuple ==0.3.0.2,
             tuples-homogenous-h98 ==0.1.1.0,
             twitter-feed ==0.2.0.6,
             type-aligned ==0.9.6,
             type-level-numbers ==0.1.1.1,
             type-list ==0.3.0.4,
             typelits-witnesses ==0.2.3.0,
             typography-geometry ==1.0.0.1,
             tzdata ==0.1.20160417.0,
             ua-parser ==0.7.1,
             unbound-generics ==0.3.1,
             unbounded-delays ==0.1.0.9,
             unexceptionalio ==0.3.0,
             unicode-show ==0.1.0.2,
             unification-fd ==0.10.0.1,
             union-find ==0.2,
             uniplate ==1.6.12,
             units ==2.4,
             units-defs ==2.0.1.1,
             units-parser ==0.1.0.0,
             universe ==1.0,
             universe-base ==1.0.2.1,
             universe-instances-base ==1.0,
             universe-instances-extended ==1.0.0.1,
             universe-instances-trans ==1.0.0.1,
             universe-reverse-instances ==1.0,
             unix installed,
             unix-bytestring ==0.3.7.3,
             unix-compat ==0.4.2.0,
             unix-time ==0.3.6,
             Unixutils ==1.54.1,
             unordered-containers ==0.2.7.0,
             uri-encode ==1.5.0.4,
             url ==2.1.3,
             urlpath ==5.0.0.1,
             users ==0.5.0.0,
             users-postgresql-simple ==0.5.0.2,
             users-test ==0.5.0.1,
             utf8-light ==0.4.2,
             utf8-string ==1.0.1.1,
             utility-ht ==0.0.11,
             uu-interleaved ==0.2.0.0,
             uu-parsinglib ==2.9.1.1,
             uuid ==1.3.12,
             uuid-types ==1.0.3,
             vado ==0.0.7,
             validate-input ==0.4.0.0,
             vault ==0.3.0.6,
             vector ==0.11.0.0,
             vector-algorithms ==0.7.0.1,
             vector-binary-instances ==0.2.3.2,
             vector-buffer ==0.4.1,
             vector-fftw ==0.1.3.6,
             vector-instances ==3.3.1,
             vector-space ==0.10.3,
             vector-th-unbox ==0.2.1.6,
             vhd ==0.2.2,
             ViennaRNAParser ==1.2.9,
             void ==0.7.1,
             vty ==5.5.0,
             wai ==3.2.1.1,
             wai-app-static ==3.1.5,
             wai-conduit ==3.0.0.3,
             wai-eventsource ==3.0.0,
             wai-extra ==3.0.15.1,
             wai-logger ==2.2.7,
             wai-middleware-caching ==0.1.0.2,
             wai-middleware-caching-lru ==0.1.0.0,
             wai-middleware-caching-redis ==0.2.0.0,
             wai-middleware-consul ==0.1.0.2,
             wai-middleware-crowd ==0.1.4,
             wai-middleware-prometheus ==0.1.0.1,
             wai-middleware-static ==0.8.0,
             wai-middleware-throttle ==0.2.1.0,
             wai-session ==0.3.2,
             wai-session-postgresql ==0.2.1.0,
             wai-transformers ==0.0.5,
             wai-websockets ==3.0.0.9,
             waitra ==0.0.4.0,
             warp ==3.2.6,
             warp-tls ==3.2.1,
             web-plugins ==0.2.8,
             web-routes ==0.27.10,
             web-routes-hsp ==0.24.6.1,
             web-routes-th ==0.22.5,
             web-routes-wai ==0.24.3,
             webdriver ==0.8.3,
             webkitgtk3 ==0.14.2.0,
             webkitgtk3-javascriptcore ==0.14.1.0,
             webpage ==0.0.4,
             websockets ==0.9.6.2,
             weigh ==0.0.3,
             wikicfp-scraper ==0.1.0.2,
             Win32 ==2.3.1.1,
             Win32-extras ==0.2.0.1,
             Win32-notify ==0.3.0.1,
             with-location ==0.1.0,
             withdependencies ==0.2.3,
             witherable ==0.1.3.3,
             wl-pprint ==1.2,
             wl-pprint-extras ==3.5.0.5,
             wl-pprint-text ==1.1.0.4,
             word-trie ==0.3.0,
             word8 ==0.1.2,
             Workflow ==0.8.3,
             wrap ==0.0.0,
             wreq ==0.4.1.0,
             X11 ==1.6.1.2,
             x509 ==1.6.3,
             x509-store ==1.6.1,
             x509-system ==1.6.3,
             x509-validation ==1.6.3,
             Xauth ==0.1,
             xdcc ==1.0.4,
             xdg-basedir ==0.2.2,
             xenstore ==0.1.1,
             xhtml ==3000.2.1,
             xlsior ==0.1.0.1,
             xlsx ==0.2.1.2,
             xlsx-tabular ==0.1.0.0,
             xml ==1.3.14,
             xml-conduit ==1.3.5,
             xml-conduit-writer ==0.1.1.1,
             xml-hamlet ==0.4.0.11,
             xml-lens ==0.1.6.3,
             xml-to-json ==2.0.1,
             xml-to-json-fast ==2.0.0,
             xml-types ==0.3.6,
             xmlgen ==0.6.2.1,
             xmonad ==0.12,
             xss-sanitize ==0.3.5.7,
             yackage ==0.8.0,
             yaml ==0.8.17.1,
             Yampa ==0.10.5,
             YampaSynth ==0.2,
             yarr ==1.4.0.2,
             yes-precure5-command ==5.5.2,
             yesod ==1.4.3,
             yesod-auth ==1.4.13.2,
             yesod-auth-account ==1.4.2,
             yesod-auth-basic ==0.1.0.2,
             yesod-auth-hashdb ==1.5.1.1,
             yesod-bin ==1.4.18.2,
             yesod-core ==1.4.20.2,
             yesod-eventsource ==1.4.0.1,
             yesod-fb ==0.3.4,
             yesod-form ==1.4.7.1,
             yesod-form-richtext ==0.1.0.0,
             yesod-gitrepo ==0.2.1.0,
             yesod-gitrev ==0.1.0.0,
             yesod-newsfeed ==1.6,
             yesod-persistent ==1.4.0.5,
             yesod-sitemap ==1.4.0.1,
             yesod-static ==1.5.0.3,
             yesod-static-angular ==0.1.8,
             yesod-table ==2.0.3,
             yesod-test ==1.5.1.1,
             yesod-text-markdown ==0.1.8,
             yesod-websockets ==0.2.4,
             yjtools ==0.9.18,
             zeromq4-haskell ==0.6.5,
             zip ==0.1.3,
             zip-archive ==0.3.0.2,
             zippers ==0.2.2,
             zlib ==0.6.1.1,
             zlib-bindings ==0.1.1.5,
             zlib-lens ==0.1.2.1,
             zoom-refs ==0.0.0.1
