constraints: Cabal ==1.24.2.0,
             Cabal -bundled-binary-generic,
             FloatingHex ==0.4,
             Glob ==0.9.1,
             GraphSCC ==1.0.4,
             GraphSCC -use-maps,
             Only ==0.1,
             QuickCheck ==2.11.3,
             QuickCheck +templatehaskell,
             abstract-deque ==0.3,
             abstract-deque -usecas,
             abstract-par ==0.3.3,
             aeson ==1.2.4.0,
             aeson -fast -developer -cffi -bytestring-builder,
             alex ==3.2.3,
             alex +small_base,
             ansi-terminal ==0.8.0.1,
             ansi-terminal -example,
             ansi-wl-pprint ==0.6.8.2,
             ansi-wl-pprint -example,
             array ==0.5.2.0,
             async ==2.2.1,
             async -bench,
             attoparsec ==0.13.2.2,
             attoparsec -developer,
             base ==4.10.1.0,
             base-compat ==0.9.3,
             base-orphans ==0.6,
             binary ==0.8.5.1,
             bytestring ==0.10.8.2,
             cassava ==0.5.1.0,
             cassava -bytestring--lt-0_10_4,
             cereal ==0.5.5.0,
             cereal -bytestring-builder,
             code-page ==0.1.3,
             colour ==2.3.4,
             containers ==0.5.10.2,
             crackNum ==1.9,
             criterion ==1.3.0.0,
             criterion -fast -embed-data-files,
             cryptol -static +relocatable,
             data-binary-ieee754 ==0.4.4,
             deepseq ==1.4.3.0,
             directory ==1.3.0.2,
             dlist ==0.8.0.4,
             erf ==2.0.0.0,
             exceptions ==0.8.3,
             filepath ==1.4.1.2,
             generic-deriving ==1.12.1,
             generic-deriving +base-4-9,
             ghc ==8.2.2,
             ghc-boot ==8.2.2,
             ghc-boot-th ==8.2.2,
             ghc-prim ==0.5.1.1,
             ghci ==8.2.2,
             gitrev ==1.3.1,
             happy ==1.19.9,
             happy +small_base,
             hashable ==1.2.6.1,
             hashable -sse41 +sse2 +integer-gmp -examples,
             haskeline ==0.7.4.0,
             heredoc ==0.2.0.0,
             hoopl ==3.10.2.2,
             hpc ==0.6.0.3,
             hsc2hs ==0.68.2,
             ieee754 ==0.8.0,
             integer-gmp ==1.0.1.0,
             integer-logarithms ==1.0.2,
             integer-logarithms +integer-gmp -check-bounds,
             js-flot ==0.8.3,
             js-jquery ==3.3.1,
             math-functions ==0.2.1.0,
             math-functions -system-expm1,
             microstache ==1.0.1.1,
             monad-control ==1.0.2.2,
             monad-par ==0.3.4.8,
             monad-par -newgeneric -chaselev,
             monad-par-extras ==0.3.3,
             monadLib ==3.7.3,
             monadLib -base3,
             mtl ==2.2.1,
             mwc-random ==0.13.6.0,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             optparse-applicative ==0.14.0.0,
             parallel ==3.2.1.1,
             parsec ==3.1.13.0,
             presburger ==1.3.1,
             pretty ==1.1.3.3,
             primitive ==0.6.3.0,
             process ==1.4.3.0 || ==1.6.1.0,
             random ==1.1,
             rts ==1.0,
             sbv ==7.5,
             scientific ==0.3.5.2,
             scientific -integer-simple -bytestring-builder,
             semigroups ==0.18.4,
             semigroups +unordered-containers +transformers +text +tagged +hashable +deepseq +containers -bytestring-builder +bytestring +binary,
             simple-smt ==0.7.1,
             smtLib ==1.0.8,
             statistics ==0.14.0.2,
             stm ==2.4.5.0,
             strict ==0.3.2,
             strict +split-base,
             syb ==0.7,
             tagged ==0.8.5,
             tagged +transformers +deepseq,
             template-haskell ==2.12.0.0,
             terminfo ==0.4.1.0,
             text ==1.2.3.0,
             text -integer-simple -developer -bytestring-builder,
             text-short ==0.1.1,
             tf-random ==0.5,
             th-abstraction ==0.2.6.0,
             time ==1.8.0.2,
             time-locale-compat ==0.1.1.3,
             time-locale-compat -old-locale,
             transformers ==0.5.2.0,
             transformers-base ==0.4.4,
             transformers-base +orphaninstances,
             transformers-compat ==0.5.1.4,
             transformers-compat -two -three +mtl,
             unix ==2.7.2.2,
             unordered-containers ==0.2.9.0,
             unordered-containers -debug,
             utf8-string ==1.0.1.1,
             uuid-types ==1.0.3,
             vector ==0.12.0.1,
             vector -wall -unsafechecks -internalchecks +boundschecks,
             vector-algorithms ==0.7.0.1,
             vector-algorithms -unsafechecks +properties -internalchecks +boundschecks -bench,
             vector-binary-instances ==0.2.4,
             vector-th-unbox ==0.2.1.6
