name: Cryptol
on:
  push:
    branches: [master, "release-**"]
  pull_request:

jobs:
  outputs:
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.outputs.outputs.changed-files }}
      cryptol-version: ${{ steps.outputs.outputs.cryptol-version }}
      name: ${{ steps.outputs.outputs.name }}
      release: ${{ steps.env.outputs.release }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: env
        if: |
          startsWith(github.ref, 'refs/heads/release-')
            || (github.event_name == 'pull_request' && startsWith(github.head_ref, 'actions/'))
        run: .github/ci.sh output release 1
      - id: outputs
        run: |
          .github/ci.sh set_files ${{ github.sha }}
          .github/ci.sh set_version
          .github/ci.sh output name cryptol-$(.github/ci.sh ver)

  build:
    runs-on: ${{ matrix.os }}
    needs: [outputs]
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        ghc: ["8.6.5", "8.8.4", "8.10.2"]
        exclude:
          # https://gitlab.haskell.org/ghc/ghc/-/issues/18550
          - os: windows-latest
            ghc: 8.10.2
    name: Cryptol - GHC v${{ matrix.ghc }} - ${{ matrix.os }}
    env:
      RELEASE: ${{ needs.outputs.outputs.release }}
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - uses: actions/setup-haskell@v1
        id: setup-haskell
        with:
          ghc-version: ${{ matrix.ghc }}

      - uses: actions/cache@v2
        name: Cache cabal store
        with:
          path: |
            ${{ steps.setup-haskell.outputs.cabal-store }}
            dist-newstyle
          key: cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc)) }}-${{ github.sha }}
          restore-keys: |
            cabal-${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles(format('cabal.GHC-{0}.config', matrix.ghc)) }}-

      - shell: bash
        run: .github/ci.sh install_system_deps
        env:
          Z3_VERSION: "4.8.8"
          CVC4_VERSION: "4.1.8"
          YICES_VERSION: "2.6.2"

      - shell: bash
        run: .github/ci.sh setup_external_tools

      - shell: bash
        run: .github/ci.sh build

      - shell: bash
        run: .github/ci.sh test_dist

      # TODO: get Python client to work on Windows
      - shell: bash
        run: .github/ci.sh test_rpc
        if: runner.os != 'Windows'

      - if: >-
          env.RELEASE && matrix.ghc == '8.8.4'
        uses: actions/upload-artifact@v2
        with:
          path: dist/bin
          name: ${{ runner.os }}-bins

  docs:
    runs-on: ubuntu-latest
    needs: [outputs]
    if: >-
      needs.outputs.outputs.release || contains(needs.outputs.outputs.changed, 'docs/')
    steps:
      - uses: actions/checkout@v2
      - uses: docker://pandoc/latex:2.9.2
        with:
          args: >-
            sh -c
            "
            apk add make &&
            tlmgr install subfigure lastpage preprint adjustbox nag collectbox sectsty todonotes palatino mathpazo &&
            cd docs &&
            make
            "
      - uses: actions/upload-artifact@v2
        with:
          path: docs
          name: docs

  bundle:
    runs-on: ${{ matrix.os }}
    if: needs.outputs.outputs.release
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        ghc: ["8.8.4"]
    needs: [outputs, docs, build]
    env:
      VERSION: ${{ needs.outputs.outputs.cryptol-version }}
      RELEASE: ${{ needs.outputs.outputs.release }}
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v2
        with:
          path: dist/bin
          name: ${{ runner.os }}-bins

      - uses: actions/download-artifact@v2
        with:
          path: docs
          name: docs

      - shell: bash
        run: .github/ci.sh bundle_files

      - if: runner.os == 'Windows'
        run: .github/wix.ps1

      - if: runner.os == 'Windows'
        shell: bash
        env:
          SIGNING_PASSPHRASE: ${{ secrets.SIGNING_PASSPHRASE }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        run: .github/ci.sh sign cryptol.msi

      - shell: bash
        env:
          SIGNING_PASSPHRASE: ${{ secrets.SIGNING_PASSPHRASE }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        run: .github/ci.sh zip_dist

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ needs.outputs.outputs.name }}-${{ runner.os }}-x86_64
          path: "${{ needs.outputs.outputs.name }}-${{ runner.os }}-x86_64.tar.gz*"

      - uses: actions/upload-artifact@v2
        if: runner.os == 'Windows'
        with:
          name: ${{ needs.outputs.outputs.name }}-${{ runner.os }}-x86_64
          path: "cryptol.msi*"

  docker:
    runs-on: ubuntu-latest
    needs: [outputs]
    if: contains(needs.outputs.outputs.changed, 'Dockerfile')
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Build Docker
        uses: docker/build-push-action@v1
        with:
          repository: galoisinc/cryptol
          push: false

  release:
    needs: [outputs, bundle]
    if: needs.outputs.outputs.release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: release-drafter/release-drafter@v5
        id: release
        with:
          version: v${{ needs.outputs.outputs.cryptol-version }}
          name: v${{ needs.outputs.outputs.cryptol-version }}
          tag: v${{ needs.outputs.outputs.cryptol-version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: actions/download-artifact@v2
        with:
          path: artifacts
      - name: Upload artifacts to release
        run: |
          # workaround for draft-releaser being hard to test in CI
          tag="v${VERSION}"
          body="${body:-$tag}"
          if ! hub release show "$tag"; then
            hub release create -d -m "$body" "$tag"
          fi
          assets=()
          find ./artifacts \( -name 'cryptol*.tar.gz*' -o -name '*.msi*' \) -type f -print0 |
            while IFS= read -r -d '' a; do assets+=("-a" "$a"); done
          hub release edit -d "${assets[@]}" -m "" "$tag"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VERSION: ${{ needs.outputs.outputs.cryptol-version }}
          body: ${{ steps.release.outputs.body }}
