name: Cryptol Nightly Builds
on:
  push:
    branches:
      - "actions/*"
  schedule:
    - cron: "0 0 * * *"

jobs:
  outputs:
    runs-on: ubuntu-latest
    outputs:
      cryptol-version: ${{ steps.cryptol.outputs.cryptol-version }}
      cryptol-name: ${{ steps.cryptol.outputs.name }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - id: cryptol
        run: |
          .github/ci.sh set_version
          .github/ci.sh output name cryptol-$(.github/ci.sh ver)-$(date -I)

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: docker://pandoc/latex:latest
        with:
          args: >-
            sh -c
            "
            apk add make &&
            tlmgr install subfigure lastpage preprint adjustbox nag collectbox sectsty todonotes palatino mathpazo &&
            cd docs &&
            make
            "
      - uses: actions/upload-artifact@v2
        with:
          path: docs
          name: docs

  build:
    needs: [outputs, docs]
    runs-on: ${{ matrix.os }}
    env:
      VERSION: ${{ needs.outputs.outputs.cryptol-version }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - uses: actions/setup-haskell@v1
        with:
          ghc-version: "8.8"

      - uses: actions/download-artifact@v2
        with:
          path: docs
          name: docs

      - shell: bash
        run: .github/ci.sh build

      - shell: bash
        run: .github/ci.sh setup_dist_bins

      - shell: bash
        run: .github/ci.sh bundle_files

      - if: runner.os == 'Windows'
        run: .github/wix.ps1

      - if: runner.os == 'Windows'
        shell: bash
        env:
          SIGNING_PASSPHRASE: ${{ secrets.SIGNING_PASSPHRASE }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
        run: .github/ci.sh sign cryptol.msi

      - shell: bash
        env:
          SIGNING_PASSPHRASE: ${{ secrets.SIGNING_PASSPHRASE }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
          name: ${{ needs.outputs.outputs.cryptol-name }}
        run: .github/ci.sh zip_dist

      - uses: actions/upload-artifact@v2
        with:
          name: ${{ needs.outputs.outputs.cryptol-name }}-${{ runner.os }}
          path: "${{ needs.outputs.outputs.cryptol-name }}.zip*"

      - uses: actions/upload-artifact@v2
        if: runner.os == 'Windows'
        with:
          name: ${{ needs.outputs.outputs.cryptol-name }}-${{ runner.os }}
          path: "cryptol.msi*"
